extends pug/layout/master
block head_title
  title Trang chủ
block main-content
  .container
    section.section.section--first
      h2.heading SECTION 1
    section.section.section--secondary
      h2.heading SECTION 2
    section.section.section--tertiary
      h2.heading SECTION 3
    section.section.section--quaternary
      h2.heading SECTION 4
