doctype html
html
  head
    title Index
    link(href='./Assets/css/global.min.css', rel='stylesheet')
  body
    .page-index(style='padding: 50px 0;')
      .navbar.navbar-light.bg-light
        .container
          | DANH SÁCH CÁC PAGE
      .container
        .card
          .card-body
            ul.list-group
              li.list-group-item
                a(href='homepage.html') 1. Homepage
              li.list-group-item
                a(href='test.html') 2. Test
