mixin header()
  header.header
    .container
      .header-logo(itemscope, itemtype="http://schema.org/Organization")
        a(href="/homepage.html")
          +img(src="Assets/img/logo.svg", alt="Logo", class="header-logo__img")
    .main-menu
      .heading
        | MAIN MENU
